name: Cypress Tests
on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          build: yarn run build
          start: yarn start
        env:
          CYPRESS_TEST_VARIABLE_EXAMPLE: ${{ secrets.TEST_VARIABLE_EXAMPLE }}
